header{
    font-size: 26px;
    height: 150px;
    background-color: #355e7a;
    color: #3f8293;
}
img{
    float: left;
    display: inline-block;

}

body{
    margin-left: 150px;
  margin-right: 150px;
  background-color: #ebebeb;
}
.me{
    background-color: #355e7a;
    color: #e7f9fb;
}
.one a{
    margin:  0 68px;
    text-decoration: none;
    color: #e7f9fb;
}
.mp3{

    float: left;
    width: 800px;
    height: 50px;
}
.tow{
    float: left;
    height: 500px;
    width: 800px;
    color: #3f8293;
}
video{
    margin-left:0px;
    margin-top: -50px;
    height: 500px;
    width: 800px;

}
h3{
    display: inline-block;
    font-size: 28px;
    margin-top: 10px;
    height: 3px;
}
p{
    display: inline-block;
    font-size: 30px;
    margin-top: 0px;
    text-align: left;
    text-indent: 2em;
}
.three{
    margin-top: 60px;
    background-color: #355e7a;
    float: left;
    width: 419px;
    height: 460px;

}
.lianjie a{
    margin:  0 60px;
    font-size: 20px;
    text-decoration: none;
    color: #e7f9fb;
}
.lianjie{

    height: 200px;
    color: #49b8d6;
}
.lianjie:hover{
  border:2px solid greenyellow;
}
.sj{
    margin-top: 60px;
    float: left;
    height: 210px;
  color: white;
}
.sj:hover{
    border:2px solid greenyellow;
}
.biao{
    height: 30px;
    width: 30px;
    margin-top: 20px;
}
.footer{
    float: left;
    margin-top: 60px;
    background-color: white;
   text-indent: 2em;
    text-align: left;
}
